*,
::after,
::before,
h3,
h4 {
    margin: 0;
    padding: 0;
}

.nav {
    text-align: center;
    background-color: rgb(11, 11, 70);
    padding: 0.5em;
}

.nav p {
    text-transform: uppercase;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.container-left li {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.container-left a {
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    color: rgb(11, 11, 70);
}

.container-left a:hover {
    color: blue;
}

.container-img img {
    width: auto;
    height: 70px;
}

.container-right li {
    display: inline-block;
    padding: 0.5rem 0.5rem;
}

.container-right li a {
    text-decoration: none;
}

.container-right li:hover {
    color: blue;
}

.product {
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1.5em;
    padding-right: 20em;
}

.product-img img {
    width: 400px;
    height: 400px;
}


.product-details h1 {
    color: rgb(0, 43, 92);
}

.product-review i {
    padding-top: 1em;
    color: rgb(64, 64, 255);
}

.product-details h4 {
    color: rgb(202, 17, 17);
    text-transform: uppercase;
    font-weight: lighter;
    padding-top: 0.5em;
}

.product-details h4 span {
    color: gray;
    text-transform: lowercase;
}

.product-details h3 {
    padding-top: 0.5em;
    color: rgb(202, 17, 17);
    font-weight: 100px;
}

.product-details h3 span {
    color: grey;
    font-size: 15px;
    text-decoration: line-through;
}

.product-details span {
    color: gray;
    font-size: 15px;
}

.product-details h5 {
    padding-top: 0.5em;
    color: Black;
    font-size: 15px;
}

.product-details-img img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid rgb(64, 64, 255);
}

.color {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-quantity {
    color: rgb(0, 43, 92);
}

.product-quantity i {
    padding-top: 0.5em;
    cursor: pointer;
}

.product-quantity input {
    width: 3em;
}

.product-size {
    display: grid;
    text-align: center;
    height: 25px;
    width: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 5px;
    color: whitesmoke;
    padding-bottom: 1.5em;

}

.product-size>p {
    background-color: gray;
    text-transform: uppercase;
    padding-top: 0.2em;
    cursor: pointer;
}

.product-bag .bag {
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 0.5em;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    background: rgb(0, 43, 92);
}

.product-bag .buy {
    margin-top: 0.5em;
    width: 300px;
    height: 30px;
    text-align: center;
    padding-top: 0.5em;
    cursor: pointer;
    color: rgb(0, 43, 92);
    background: white;
}

.product-slider {
    width: 0em;
    position: fixed;
    z-index: 1;
    height: auto;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0.5em;
}

.product-slider .header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: rgb(11, 11, 70);
    color: white;
    text-transform: uppercase;
    text-align: right;
}

.product-slider a {
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
}

.product-slider a:hover {
    color: rgb(10, 10, 26);
}

.slider-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    gap: 0.3em;
    padding: 0.5em;
}

.slider-item .img img {
    width: 150px;
    height: 150px;
}

.slider-item .details h5 {
    color: rgb(0, 43, 92);
}

.slider-item .details p {
    margin-top: 0.5em;
    color: rgb(0, 43, 92);
}

.product-slider hr {
    border: 0.5px solid gray;
    width: auto;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(0, 43, 92);
    font-size: 20px;
    font-weight: lighter;
}

.cart-item .title {
    padding-left: 0.5em;
}

.cart-item .total h5 {
    text-align: right;
}

.product-button {
    padding: 2em;
}

.product-button button a {
    text-decoration: none;
    color: white;
}

.product-button button {
    width: 20em;
    height: 4em;
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgb(0, 43, 92);
    cursor: pointer;
}

.cart {
    padding: 0.5em 9em;
    display: grid;
    grid-template-columns: 5fr 1fr;

}

.cart-body .cart-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
}

.cart-detail {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    color: rgb(0, 43, 92);

}

.cart-detail .desc p {
    color: rgb(0, 43, 92);
}

.cart-detail .desc span {
    color: gray;
}

.cart-detail img {
    width: 40px;
    padding: 0.5em;
}

.cart-detail p i {
    cursor: pointer;
}

.checkout .checkout-detail p {
    padding-top: 1em;
    color: rgb(0, 43, 92);
}

.checkout .discount {
    padding-top: 1em;
}